body {
    background-color:rgb(37, 199, 228);
}
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-weight: bold;
    
}


img {
    width: auto;
    height: auto;
    margin:0px 0px 0px 300px;
}
.ylistesi {
    font-family:"Lucida Console", "Courier New", monospace;
    color: white;
    margin:15px 80px 0px 270px;
    font-size: 12px;
    font-style: italic;
}